<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExpressProfiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <userSettings>
    <ExpressProfiler.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>.\SQLExpress</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="TraceSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerAuthentication" serializeAs="String">
        <value>0</value>
      </setting>
    </ExpressProfiler.Properties.Settings>
  </userSettings>
</configuration>
